.main{
    height: 100vh;
    background-size: cover;
    width: 100%;
    min-height: 568px;
    height: 101vh;
    background-color: #515f66;
    padding-top: calc(50vh - 155px);
    position: relative;
    background-image: url('./../images/sallon.jpg');
    background-position-x: center;
    background-size: cover;
    margin-top: -50px;

    .home-search{
        color:$white;
        h1{
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            line-height: 28.8px;
            margin: 0 0 8px 0;
        }
        .subtitle{
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            margin: 0 0 8px 0;
        }
        .box{
            background-color: $white;
            border-radius: 10px;
            margin-bottom: 10px;
            position: relative;
            z-index: 2;
            margin-top:24px;
            padding-top: 16px;
            h2{
                color:$light-black;
                font-size: 16px;
                margin-top: 0;
            }
        }
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .main{
        padding-top: 100px;
    }
}