.main{
    height: 100vh;
    background: url('./../images/sallon.jpg') no-repeat center center;
    background-size: cover;

    .hero-section{
        padding: 150px 0 100px 0;

        .hero-content{
            padding: 20px 0 20px 0;
            h1{
                font-weight: 700;
                text-transform: uppercase;
                color: #FFFFFF;
                font-size: 34px;
                line-height: 1.2;
                letter-spacing: -1px;
                margin: 0 0 20px 0;
            }

            p{
                font-family: Raleway;
                font-size: 14px;
                line-height: 1.5;
                margin: 0 0 25px 0;
                color: #FFFFFF;
                font-weight: 500;
            }
        }
    }
}