.card{
    margin-top: 2px;
    background-color: $white;
    .info{
        margin-bottom: 16px;
        padding-top: 16px;
        img{
            max-width: 122px;
            max-height: 92px;
        }
    }
    small{
        font-weight: normal;
        font-size: 10px;
    }
    h3{
        margin-top: 0;
        font-size: 16px;
        color:$black;
    }

    p{
        margin:0;
        font-size: 12px;
    }
}