.result{
    .filter{
        background-color: $white;

        i.collapse-filter{
            margin-right: 12px;
            font-size: 15px;
            line-height: 41px;
        }
        h2{
            display: inline-block;
            margin-right: 20px;
        }
        .filter-content{
            display: none;
            &.is-open{
                display: block;
            }
        }
        small{
            font-size: 12px;
            display: block;
            color: $light-gray;
        }
    }
}