.result-page{
    background-color: $white;
    min-height: 100vh;

    &__navbar{
        background-color: $salmon;
        span{
            color: $white;
            font-size:18px;
            line-height: 50px;
        }
        h1{
            color: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 50px;
            margin:0;
            padding: 0;
        }
    }

    &__content{
        &-card{
            background-color: black;

            button{
                padding: 5px 20px;
                border: 1px solid $salmon;
                border-radius: 20px;
                font-size: 14px;
                color: $salmon;
            }
        }
    }
}