.result-page{
    background-color: $white;
    min-height: 100vh;

    &__navbar{
        background-color: $salmon;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */

        span{
            color: $white;
            font-size:18px;
            line-height: 50px;
        }
        h1{
            color: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 50px;
            margin:0;
            padding: 0;
        }
    }

    &__content{
        &-card{
            background-repeat: no-repeat;
            background-size: cover;
            padding: 25px;
            height: 225px;
            margin-bottom: 25px;

            &:first-child{
                margin-top: 50px;
            }

            button{
                padding: 3px 25px;
                border: 2px solid $salmon;
                border-radius: 20px;
                font-size: 11px;
                color: $salmon;
                margin-bottom: 70px;
            }

            span{
                
                color:$white;
                font-size: 10px;
            }

            h2, h3{
                color: $white;
                margin: 0;
            }
        }
    }
}