.selector-input{
    color: $light-black;
    margin-bottom: 16px;
    i{
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 14px;
        border-right: 0;
        width: 50px;
    }
    p{
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border-left: 0;
        padding: 14px 5px 12px 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: calc(100% - 50px);
        font-size: 16px !important;
        margin: 0px;
    }
}