$font-stack-1: Lato,"Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

$white: #fff;
$black: #333;
$light-black: rgba(0,0,0,.66);
$gray: rgba(237,237,237,1);
$light-gray: rgb(109, 109, 109);